<!DOCTYPE HTML>
<html>
    </head>
    <meta charset="utf-8">
    <body>
        <p>DataTable</p>
        <table id="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>True</th>
                    <th>False</th>
                </tr>
            </thead>
            <tbody>
                {% if context %}
                {% for key ,value in context.items %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value.True}}</td>
                    <td>{{value.False}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </body>
</html>

